@font-big:2.34rem;
@font-medium:1.45rem;
@font-regular:1.15rem;
@font-small:1rem;

@green:#048444;
@darkcyan: #047f8c;
@blue:#1b819d;
@blue-bg:#0f4870;

@black:#272822;
@black-bg:#2a2d2e;

@white-text:#c6c6c6;
@white-bg:#f7f7f7;
@white-border:#7f807d;