@import url('css-media-all.css');
.w10 {
  width: 10% !important;
}
.w20 {
  width: 20% !important;
}
.w25 {
  width: 25% !important;
}
.w30 {
  width: 30% !important;
}
.w34 {
  width: 34% !important;
}
.w40 {
  width: 40% !important;
}
.w50 {
  width: 50% !important;
}
.w60 {
  width: 60% !important;
}
.w66 {
  width: 66% !important;
}
.w70 {
  width: 70% !important;
}
.w75 {
  width: 75% !important;
}
.w80 {
  width: 80% !important;
}
.w90 {
  width: 90% !important;
}
.w100 {
  width: 100% !important;
}
@font-face {
  font-family: monaco;
  src: url('../static/fonts/montserrat/Montserrat-Hairline.otf') format('opentype');
}
@font-face {
  font-family: monaco;
  src: url('../static/fonts/montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: bold;
}
[ng-click] {
  cursor: pointer;
}
.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.col {
  flex-direction: column;
}
.flex.ac {
  align-items: center;
}
.flex.ab {
  align-items: baseline;
}
.flex.fls {
  align-items: flex-start;
}
.flex.fe {
  align-items: flex-end;
}
.flex.fs {
  align-items: flex-start;
}
.flex.jc {
  justify-content: center;
}
.flex.sb {
  justify-content: space-between;
}
.flex.sa {
  justify-content: space-around;
}
.flex.je {
  justify-content: flex-end;
}
.flex.sc {
  align-self: center;
}
.flex.asb {
  align-self: baseline;
}
.flex.asf {
  align-self: flex-start;
}
.flex.rw {
  flex-flow: row wrap;
}
.flex .fg1 {
  flex-grow: 1;
}
.flex .ns {
  flex-shrink: 0;
}
.font-big {
  font-size: 2.34rem;
}
.font-medium {
  font-size: 1.45rem;
}
.font-regular {
  font-size: 1.15rem;
}
.font-small {
  font-size: 1rem;
}
.ml-5 {
  margin-left: .5rem;
}
.mr-5 {
  margin-right: .5rem;
}
.mt-5 {
  margin-top: .5rem;
}
.mb-5 {
  margin-bottom: .5rem;
}
.mh-5 {
  margin-right: .5rem;
  margin-left: .5rem;
}
.mv-5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.m-5 {
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.ml1 {
  margin-left: 1rem;
}
.mr1 {
  margin-right: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mh1 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m1 {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ml2 {
  margin-left: 2rem;
}
.mr2 {
  margin-right: 2rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mh2 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.mv2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m2 {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pl-5 {
  padding-left: .5rem;
}
.pr-5 {
  padding-right: .5rem;
}
.pt-5 {
  padding-top: .5rem;
}
.pb-5 {
  padding-bottom: .5rem;
}
.ph-5 {
  padding-right: .5rem;
  padding-left: .5rem;
}
.pv-5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.p-5 {
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.pl1 {
  padding-left: 1rem;
}
.pr1 {
  padding-right: 1rem;
}
.pt1 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.ph1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.pv1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p1 {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl2 {
  padding-left: 2rem;
}
.pr2 {
  padding-right: 2rem;
}
.pt2 {
  padding-top: 2rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.ph2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.pv2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p2 {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.zw {
  width: 0% !important;
}
.orange-bg {
  background: #ff6162;
}
.blue-bg {
  background: #0f4870;
}
.orange-text {
  color: #ff6162;
}
.blue-text {
  color: #0f4870;
}
a {
  text-decoration: none;
}
input[type='text'],
input[type='email'],
textarea {
  border: none;
  background: #f2f2f2;
  color: #0f4870;
  width: 100%;
  height: 100%;
}
input[type='text']:focus,
input[type='email']:focus,
textarea:focus {
  outline: none;
  outline-offset: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: #0f4870;
  box-shadow: none;
  transition: all 5000s ease-in-out 0s;
}
* {
  font-family: monaco;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: monaco;
}
body {
  background: #f2f2f2;
  font-family: monaco;
  width: 100%;
  padding: 1rem 0;
}
@keyframes changeLetter {
  0% {
    content: "portfolio";
  }
  9.09% {
    content: "portfolio";
  }
  12.12% {
    content: "portfoli";
  }
  15.15% {
    content: "portfol";
  }
  18.18% {
    content: "portfo";
  }
  21.21% {
    content: "portf";
  }
  24.24% {
    content: "port";
  }
  27.27% {
    content: "por";
  }
  30.30% {
    content: "po";
  }
  33.33% {
    content: "p";
  }
  36.36% {
    content: " ";
  }
  39.39% {
    content: "b";
  }
  42.42% {
    content: "bl";
  }
  45.45% {
    content: "blo";
  }
  51.51% {
    content: "blog";
  }
  60.60% {
    content: "blog";
  }
  63.63% {
    content: "blo";
  }
  66.66% {
    content: "bl";
  }
  69.69% {
    content: "b";
  }
  72.72% {
    content: " ";
  }
  75.75% {
    content: "p";
  }
  78.78% {
    content: "po";
  }
  81.81% {
    content: "por";
  }
  84.84% {
    content: "port";
  }
  87.87% {
    content: "portf";
  }
  90.90% {
    content: "portfo";
  }
  93.93% {
    content: "portfol";
  }
  96.96% {
    content: "portfoli";
  }
  99.99% {
    content: "portfolio";
    color: #ff6162;
  }
}
@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: #0f4870;
  }
}
.header {
  color: #0f4870;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.34rem;
  font-weight: bold;
}
.header.row {
  flex-direction: row;
}
.header.col {
  flex-direction: column;
}
.header.ac {
  align-items: center;
}
.header.ab {
  align-items: baseline;
}
.header.fls {
  align-items: flex-start;
}
.header.fe {
  align-items: flex-end;
}
.header.fs {
  align-items: flex-start;
}
.header.jc {
  justify-content: center;
}
.header.sb {
  justify-content: space-between;
}
.header.sa {
  justify-content: space-around;
}
.header.je {
  justify-content: flex-end;
}
.header.sc {
  align-self: center;
}
.header.asb {
  align-self: baseline;
}
.header.asf {
  align-self: flex-start;
}
.header.rw {
  flex-flow: row wrap;
}
.header .fg1 {
  flex-grow: 1;
}
.header .ns {
  flex-shrink: 0;
}
.header .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
  font-size: 2.34rem;
  margin-left: .5rem;
  color: #ff6162;
  position: relative;
  height: 2.34rem;
  width: 12rem;
}
.header .element.row {
  flex-direction: row;
}
.header .element.col {
  flex-direction: column;
}
.header .element.ac {
  align-items: center;
}
.header .element.ab {
  align-items: baseline;
}
.header .element.fls {
  align-items: flex-start;
}
.header .element.fe {
  align-items: flex-end;
}
.header .element.fs {
  align-items: flex-start;
}
.header .element.jc {
  justify-content: center;
}
.header .element.sb {
  justify-content: space-between;
}
.header .element.sa {
  justify-content: space-around;
}
.header .element.je {
  justify-content: flex-end;
}
.header .element.sc {
  align-self: center;
}
.header .element.asb {
  align-self: baseline;
}
.header .element.asf {
  align-self: flex-start;
}
.header .element.rw {
  flex-flow: row wrap;
}
.header .element .fg1 {
  flex-grow: 1;
}
.header .element .ns {
  flex-shrink: 0;
}
.header .element:before {
  animation: changeLetter 9900ms linear infinite;
  display: block;
  content: 'portfolio';
  animation-delay: 3s;
  animation-iteration-count: 2;
  color: #ff6162;
}
.header .element:after {
  content: '_';
  font-weight: bold;
  font-size: 30px;
  animation: 300ms blink step-end infinite;
  transition: all 100ms ease-in-out;
  animation-iteration-count: 100;
  color: #ff6162;
}
.vcontainer {
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.vcontainer .vmenu {
  padding: .5rem 0;
  display: flex;
  flex-direction: row;
}
.vcontainer .vmenu .tabs {
  padding: .5rem;
  width: 20%;
  text-align: center;
  font-weight: 900;
  font-size: 1.25rem;
  color: #0f4870;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.vcontainer .vmenu .tabs.active {
  color: #ff6162;
}
.vcontainer .vport {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  color: black;
}
.vcontainer .vport .parent-loader {
  position: relative;
  height: 1rem;
  width: 100%;
}
.vcontainer .vport .parent-loader .tab-indicator {
  width: 10%;
  height: .5rem;
  background: #ff6162;
  transition: all 0.4s ease-in-out;
  position: absolute;
  left: 5%;
}
.vcontainer .vport .parent-loader .tab-indicator.l20 {
  left: 25%;
}
.vcontainer .vport .parent-loader .tab-indicator.l40 {
  left: 45%;
}
.vcontainer .vport .parent-loader .tab-indicator.l60 {
  left: 65%;
}
.vcontainer .vport .parent-loader .tab-indicator.l80 {
  left: 85%;
}
.vcontainer .vport .parent-loader .loader {
  height: .5rem;
  width: 100%;
  background: #0f4870;
}
.vcontainer .vport .vcontent {
  font-size: 1.25rem;
  color: black;
  font-weight: 500;
  width: 80%;
  margin: 0 auto;
}
.vcontainer .vport .vcontent .base-content {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}
.vcontainer .vport .vcontent > div {
  padding: .5rem;
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-header .header-content {
  font-weight: 600;
  width: 85%;
  margin: 0 auto;
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: 3rem;
}
.vcontainer .vport .vcontent .port-header .header-content .a {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-header .header-content i {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit {
  padding: 1rem auto;
}
.vcontainer .vport .vcontent .port-unit .unit-header {
  font-weight: 600;
  color: #ff6162;
  font-size: 1.15rem;
  margin-top: 1rem;
  margin-bottom: .25rem;
}
.vcontainer .vport .vcontent .port-unit .exp-content {
  display: flex;
  flex-direction: row;
  padding: .5rem 0;
  flex-wrap: wrap;
}
.vcontainer .vport .vcontent .port-unit .exp-content.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .exp-content.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .exp-content.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .exp-content.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .exp-content.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .exp-content.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .exp-content.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .exp-content.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .exp-content.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .exp-content .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .exp-content .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit {
  margin: .5rem 2rem;
  width: 40%;
  border: solid 2px #0f4870;
  line-height: 1.5rem;
  padding: .35rem;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .exp-role {
  font-weight: 600;
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .exp-role > a {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .exp-duration {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-header .exp-duration > i {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit .exp-company {
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit.link {
  transition: all 250ms ease;
  cursor: pointer;
}
.vcontainer .vport .vcontent .port-unit .exp-content .exp-unit.link:hover {
  transition: all 250ms ease;
  border-color: rgba(15, 72, 112, 0.82);
  transform: translate3d(0, -0.15rem, 0);
  box-shadow: 0 0.25rem 1.25rem rgba(15, 72, 112, 0.4), 0 0 0.25rem rgba(15, 72, 112, 0.12), 0 1.25rem 1.25rem rgba(15, 72, 112, 0.12);
}
.vcontainer .vport .vcontent .port-unit .list-skills {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
  padding: 0rem 2rem;
}
.vcontainer .vport .vcontent .port-unit .list-skills.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .list-skills.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .list-skills.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .list-skills.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .list-skills.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .list-skills.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .list-skills.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .list-skills.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .list-skills.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .list-skills.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .list-skills.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .list-skills.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .list-skills.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .list-skills.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .list-skills.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .list-skills .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .list-skills .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .list-skills .header {
  font-weight: 600;
  font-size: 1rem;
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .list-skills span.skill {
  text-decoration: none;
  color: #0f4870;
  padding: 0 .2rem;
  border-bottom: solid 2px #ff6162;
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 600;
}
.vcontainer .vport .vcontent .port-unit .list-skills .skill-link {
  margin-right: 1rem;
}
.vcontainer .vport .vcontent .port-unit .list-skills a.skill {
  line-height: 1.45rem;
  text-decoration: none;
  color: #0f4870;
  font-weight: 600;
  border-bottom: solid 2px #0f4870;
}
.vcontainer .vport .vcontent .port-unit .unit-content {
  display: flex;
  flex-direction: row;
  padding: .5rem 0rem;
  flex-wrap: wrap;
}
.vcontainer .vport .vcontent .port-unit .unit-content.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .unit-content.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .unit-content.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .unit-content.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .unit-content.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .unit-content .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .unit-content .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .unit-content form {
  width: 100%;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit {
  width: 40%;
  padding: .35rem;
  border: solid 2px #0f4870;
  color: #0f4870;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin-bottom: .75rem;
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > input,
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > textarea {
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1.35rem;
  width: 65%;
  border: none;
  background: #f2f2f2;
  color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > input:-webkit-autofill,
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > textarea:-webkit-autofill {
  background-color: #0f4870;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > input:focus,
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit > textarea:focus {
  outline: none;
  outline-offset: 0;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.button {
  padding: 0;
}
.vcontainer .vport .vcontent .port-unit .unit-content .text-unit.button .button-input {
  width: 100%;
  background: #0f4870;
  font-weight: 600;
  color: #ff6162;
  border: none;
  outline: none;
  cursor: pointer;
}
.vcontainer .vport .vcontent .port-unit .unit-content .success-unit {
  font-weight: 600;
  width: 40%;
  color: #ff6162;
  text-align: center;
  font-size: 1rem;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit {
  margin: .5rem 2rem;
  width: 40%;
  border: solid 2px #0f4870;
  line-height: 1.5rem;
  padding: .35rem;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-name {
  color: #0f4870;
  font-weight: 600;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter {
  width: 100%;
  margin-top: .65rem;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .load {
  height: .75rem;
  background: #ff6162;
  transition: all 0.4s ease-in-out;
  width: 0%;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .unit-content .skill-unit .skill-meter .meter > span {
  font-weight: 600;
  font-size: .8rem;
  width: 20%;
}
.vcontainer .vport .vcontent .port-unit .readme-content {
  display: flex;
  flex-direction: column;
  padding: .5rem 2rem;
  flex-wrap: wrap;
}
.vcontainer .vport .vcontent .port-unit .readme-content.row {
  flex-direction: row;
}
.vcontainer .vport .vcontent .port-unit .readme-content.col {
  flex-direction: column;
}
.vcontainer .vport .vcontent .port-unit .readme-content.ac {
  align-items: center;
}
.vcontainer .vport .vcontent .port-unit .readme-content.ab {
  align-items: baseline;
}
.vcontainer .vport .vcontent .port-unit .readme-content.fls {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .readme-content.fe {
  align-items: flex-end;
}
.vcontainer .vport .vcontent .port-unit .readme-content.fs {
  align-items: flex-start;
}
.vcontainer .vport .vcontent .port-unit .readme-content.jc {
  justify-content: center;
}
.vcontainer .vport .vcontent .port-unit .readme-content.sb {
  justify-content: space-between;
}
.vcontainer .vport .vcontent .port-unit .readme-content.sa {
  justify-content: space-around;
}
.vcontainer .vport .vcontent .port-unit .readme-content.je {
  justify-content: flex-end;
}
.vcontainer .vport .vcontent .port-unit .readme-content.sc {
  align-self: center;
}
.vcontainer .vport .vcontent .port-unit .readme-content.asb {
  align-self: baseline;
}
.vcontainer .vport .vcontent .port-unit .readme-content.asf {
  align-self: flex-start;
}
.vcontainer .vport .vcontent .port-unit .readme-content.rw {
  flex-flow: row wrap;
}
.vcontainer .vport .vcontent .port-unit .readme-content .fg1 {
  flex-grow: 1;
}
.vcontainer .vport .vcontent .port-unit .readme-content .ns {
  flex-shrink: 0;
}
.vcontainer .vport .vcontent .port-unit .readme-content > div {
  color: #0f4870;
  font-weight: 600;
  line-height: 1.5rem;
}
.vcontainer .vport .vcontent .about-port {
  font-size: 1.15rem;
  padding: 1rem;
}
.vcontainer .vport .vcontent .work-port {
  font-size: 1.15rem;
  padding: 1rem;
}
.vcontainer .vport .vcontent .blog-port {
  padding: 1rem;
  font-size: 1.15rem;
}
.vcontainer .vport .vcontent .blog-port > p {
  text-align: center;
  font-weight: 600;
  color: #ff6162;
  font-weight: 1.5rem;
}
.vcontainer .vport .vcontent .readme-port {
  padding: 1rem;
  font-size: 1.15rem;
}
@keyframes slide-up {
  0% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}
.avail-notifier {
  color: #0f4870;
  position: absolute;
  right: 1rem;
  top: 3%;
  padding: .5rem;
}
