@import url('css-media-all.css');
@font-face {
  font-family: monaco;
  src: url('../static/fonts/montserrat/Montserrat-Hairline.otf') format('opentype');
}
@font-face {
  font-family: monaco;
  src: url('../static/fonts/montserrat/Montserrat-Light.otf') format('opentype');
  font-weight: bold;
}
.flex {
  display: flex;
}
.flex.row {
  flex-direction: row;
}
.flex.col {
  flex-direction: column;
}
.flex.ac {
  align-items: center;
}
.flex.ab {
  align-items: baseline;
}
.flex.fls {
  align-items: flex-start;
}
.flex.fe {
  align-items: flex-end;
}
.flex.fs {
  align-items: flex-start;
}
.flex.jc {
  justify-content: center;
}
.flex.sb {
  justify-content: space-between;
}
.flex.sa {
  justify-content: space-around;
}
.flex.je {
  justify-content: flex-end;
}
.flex.sc {
  align-self: center;
}
.flex.asb {
  align-self: baseline;
}
.flex.asf {
  align-self: flex-start;
}
.flex.rw {
  flex-flow: row wrap;
}
.flex .fg1 {
  flex-grow: 1;
}
.flex .ns {
  flex-shrink: 0;
}
.font-big {
  font-size: 2.34rem;
}
.font-medium {
  font-size: 1.45rem;
}
.font-regular {
  font-size: 1.15rem;
}
.font-small {
  font-size: 1rem;
}
.ml-5 {
  margin-left: .5rem;
}
.mr-5 {
  margin-right: .5rem;
}
.mt-5 {
  margin-top: .5rem;
}
.mb-5 {
  margin-bottom: .5rem;
}
.mh-5 {
  margin-right: .5rem;
  margin-left: .5rem;
}
.mv-5 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.m-5 {
  margin-right: .5rem;
  margin-left: .5rem;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.ml1 {
  margin-left: 1rem;
}
.mr1 {
  margin-right: 1rem;
}
.mt1 {
  margin-top: 1rem;
}
.mb1 {
  margin-bottom: 1rem;
}
.mh1 {
  margin-right: 1rem;
  margin-left: 1rem;
}
.mv1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.m1 {
  margin-right: 1rem;
  margin-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.ml2 {
  margin-left: 2rem;
}
.mr2 {
  margin-right: 2rem;
}
.mt2 {
  margin-top: 2rem;
}
.mb2 {
  margin-bottom: 2rem;
}
.mh2 {
  margin-right: 2rem;
  margin-left: 2rem;
}
.mv2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.m2 {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.pl-5 {
  padding-left: .5rem;
}
.pr-5 {
  padding-right: .5rem;
}
.pt-5 {
  padding-top: .5rem;
}
.pb-5 {
  padding-bottom: .5rem;
}
.ph-5 {
  padding-right: .5rem;
  padding-left: .5rem;
}
.pv-5 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.p-5 {
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
.pl1 {
  padding-left: 1rem;
}
.pr1 {
  padding-right: 1rem;
}
.pt1 {
  padding-top: 1rem;
}
.pb1 {
  padding-bottom: 1rem;
}
.ph1 {
  padding-right: 1rem;
  padding-left: 1rem;
}
.pv1 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.p1 {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.pl2 {
  padding-left: 2rem;
}
.pr2 {
  padding-right: 2rem;
}
.pt2 {
  padding-top: 2rem;
}
.pb2 {
  padding-bottom: 2rem;
}
.ph2 {
  padding-right: 2rem;
  padding-left: 2rem;
}
.pv2 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.p2 {
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}
* {
  font-family: monaco;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  font-family: monaco;
}
body {
  background: #f7f7f7;
  font-family: monaco;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
}
@keyframes changeLetter {
  0% {
    content: "portfolio";
  }
  9.09% {
    content: "portfolio";
  }
  12.12% {
    content: "portfoli";
  }
  15.15% {
    content: "portfol";
  }
  18.18% {
    content: "portfo";
  }
  21.21% {
    content: "portf";
  }
  24.24% {
    content: "port";
  }
  27.27% {
    content: "por";
  }
  30.30% {
    content: "po";
  }
  33.33% {
    content: "p";
  }
  36.36% {
    content: " ";
  }
  39.39% {
    content: "b";
  }
  42.42% {
    content: "bl";
  }
  45.45% {
    content: "blo";
  }
  51.51% {
    content: "blog";
  }
  60.60% {
    content: "blog";
  }
  63.63% {
    content: "blo";
  }
  66.66% {
    content: "bl";
  }
  69.69% {
    content: "b";
  }
  72.72% {
    content: " ";
  }
  75.75% {
    content: "p";
  }
  78.78% {
    content: "po";
  }
  81.81% {
    content: "por";
  }
  84.84% {
    content: "port";
  }
  87.87% {
    content: "portf";
  }
  90.90% {
    content: "portfo";
  }
  93.93% {
    content: "portfol";
  }
  96.96% {
    content: "portfoli";
  }
  99.99% {
    content: "portfolio";
  }
}
@keyframes blink {
  0% {
    color: transparent;
  }
  50% {
    color: #1b819d;
  }
}
.header {
  color: #1b819d;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  font-size: 2.34rem;
  font-weight: bold;
}
.header.row {
  flex-direction: row;
}
.header.col {
  flex-direction: column;
}
.header.ac {
  align-items: center;
}
.header.ab {
  align-items: baseline;
}
.header.fls {
  align-items: flex-start;
}
.header.fe {
  align-items: flex-end;
}
.header.fs {
  align-items: flex-start;
}
.header.jc {
  justify-content: center;
}
.header.sb {
  justify-content: space-between;
}
.header.sa {
  justify-content: space-around;
}
.header.je {
  justify-content: flex-end;
}
.header.sc {
  align-self: center;
}
.header.asb {
  align-self: baseline;
}
.header.asf {
  align-self: flex-start;
}
.header.rw {
  flex-flow: row wrap;
}
.header .fg1 {
  flex-grow: 1;
}
.header .ns {
  flex-shrink: 0;
}
.header .element {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-items: flex-end;
  font-size: 2.34rem;
  margin-left: .5rem;
  position: relative;
  height: 2.34rem;
  width: 12rem;
}
.header .element.row {
  flex-direction: row;
}
.header .element.col {
  flex-direction: column;
}
.header .element.ac {
  align-items: center;
}
.header .element.ab {
  align-items: baseline;
}
.header .element.fls {
  align-items: flex-start;
}
.header .element.fe {
  align-items: flex-end;
}
.header .element.fs {
  align-items: flex-start;
}
.header .element.jc {
  justify-content: center;
}
.header .element.sb {
  justify-content: space-between;
}
.header .element.sa {
  justify-content: space-around;
}
.header .element.je {
  justify-content: flex-end;
}
.header .element.sc {
  align-self: center;
}
.header .element.asb {
  align-self: baseline;
}
.header .element.asf {
  align-self: flex-start;
}
.header .element.rw {
  flex-flow: row wrap;
}
.header .element .fg1 {
  flex-grow: 1;
}
.header .element .ns {
  flex-shrink: 0;
}
.header .element:before {
  animation: changeLetter 9900ms linear infinite;
  display: block;
  content: 'portfolio';
  animation-delay: 3s;
  animation-iteration-count: 2;
}
.header .element:after {
  color: #1b819d;
  content: '_';
  font-weight: bold;
  font-size: 30px;
  animation: 300ms blink step-end infinite;
  transition: all 100ms ease-in-out;
  animation-iteration-count: 100;
}
.vmetaeditor {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50rem;
  background: #272822;
  box-shadow: .0rem 0rem 6px 1px #000000;
  margin: 0 auto;
  margin-top: 5rem;
  color: #c6c6c6;
}
.vmetaeditor.row {
  flex-direction: row;
}
.vmetaeditor.col {
  flex-direction: column;
}
.vmetaeditor.ac {
  align-items: center;
}
.vmetaeditor.ab {
  align-items: baseline;
}
.vmetaeditor.fls {
  align-items: flex-start;
}
.vmetaeditor.fe {
  align-items: flex-end;
}
.vmetaeditor.fs {
  align-items: flex-start;
}
.vmetaeditor.jc {
  justify-content: center;
}
.vmetaeditor.sb {
  justify-content: space-between;
}
.vmetaeditor.sa {
  justify-content: space-around;
}
.vmetaeditor.je {
  justify-content: flex-end;
}
.vmetaeditor.sc {
  align-self: center;
}
.vmetaeditor.asb {
  align-self: baseline;
}
.vmetaeditor.asf {
  align-self: flex-start;
}
.vmetaeditor.rw {
  flex-flow: row wrap;
}
.vmetaeditor .fg1 {
  flex-grow: 1;
}
.vmetaeditor .ns {
  flex-shrink: 0;
}
.vmetaeditor .vheader {
  display: flex;
  flex-direction: row;
  border-bottom: solid 0.1rem #7f807d;
}
.vmetaeditor .vheader.row {
  flex-direction: row;
}
.vmetaeditor .vheader.col {
  flex-direction: column;
}
.vmetaeditor .vheader.ac {
  align-items: center;
}
.vmetaeditor .vheader.ab {
  align-items: baseline;
}
.vmetaeditor .vheader.fls {
  align-items: flex-start;
}
.vmetaeditor .vheader.fe {
  align-items: flex-end;
}
.vmetaeditor .vheader.fs {
  align-items: flex-start;
}
.vmetaeditor .vheader.jc {
  justify-content: center;
}
.vmetaeditor .vheader.sb {
  justify-content: space-between;
}
.vmetaeditor .vheader.sa {
  justify-content: space-around;
}
.vmetaeditor .vheader.je {
  justify-content: flex-end;
}
.vmetaeditor .vheader.sc {
  align-self: center;
}
.vmetaeditor .vheader.asb {
  align-self: baseline;
}
.vmetaeditor .vheader.asf {
  align-self: flex-start;
}
.vmetaeditor .vheader.rw {
  flex-flow: row wrap;
}
.vmetaeditor .vheader .fg1 {
  flex-grow: 1;
}
.vmetaeditor .vheader .ns {
  flex-shrink: 0;
}
.vmetaeditor .vheader .vexplorer {
  flex: 0 0 17%;
  text-align: center;
  padding: 0.25vw;
}
.vmetaeditor .vheader .vheadername {
  flex: 1;
  padding: 0.25vw;
  text-align: center;
}
.vmetaeditor .veditor {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.vmetaeditor .veditor.row {
  flex-direction: row;
}
.vmetaeditor .veditor.col {
  flex-direction: column;
}
.vmetaeditor .veditor.ac {
  align-items: center;
}
.vmetaeditor .veditor.ab {
  align-items: baseline;
}
.vmetaeditor .veditor.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor.jc {
  justify-content: center;
}
.vmetaeditor .veditor.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor.sc {
  align-self: center;
}
.vmetaeditor .veditor.asb {
  align-self: baseline;
}
.vmetaeditor .veditor.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vmenu {
  flex: 0 0 17%;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-right: solid 1px #1b819d;
}
.vmetaeditor .veditor .vmenu.row {
  flex-direction: row;
}
.vmetaeditor .veditor .vmenu.col {
  flex-direction: column;
}
.vmetaeditor .veditor .vmenu.ac {
  align-items: center;
}
.vmetaeditor .veditor .vmenu.ab {
  align-items: baseline;
}
.vmetaeditor .veditor .vmenu.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor .vmenu.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu.jc {
  justify-content: center;
}
.vmetaeditor .veditor .vmenu.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor .vmenu.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor .vmenu.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor .vmenu.sc {
  align-self: center;
}
.vmetaeditor .veditor .vmenu.asb {
  align-self: baseline;
}
.vmetaeditor .veditor .vmenu.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor .vmenu.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .vmenu .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .vmenu .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vmenu .vfile-name {
  font-size: 1rem;
  color: #c6c6c6;
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  cursor: pointer;
}
.vmetaeditor .veditor .vmenu .vfile-name:hover {
  background: #2a2d2e;
}
.vmetaeditor .veditor .vmenu .vfolder-name {
  font-size: 1rem;
  color: #c6c6c6;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
}
.vmetaeditor .veditor .vmenu .vfolder-name.row {
  flex-direction: row;
}
.vmetaeditor .veditor .vmenu .vfolder-name.col {
  flex-direction: column;
}
.vmetaeditor .veditor .vmenu .vfolder-name.ac {
  align-items: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name.ab {
  align-items: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name.jc {
  justify-content: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor .vmenu .vfolder-name.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor .vmenu .vfolder-name.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name.sc {
  align-self: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name.asb {
  align-self: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .vmenu .vfolder-name .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .vmenu .vfolder-name .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.row {
  flex-direction: row;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.col {
  flex-direction: column;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.ac {
  align-items: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.ab {
  align-items: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.jc {
  justify-content: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.sc {
  align-self: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.asb {
  align-self: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
  padding-left: .5rem;
  transition: all 200ms ease;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.row {
  flex-direction: row;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.col {
  flex-direction: column;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.ac {
  align-items: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.ab {
  align-items: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.jc {
  justify-content: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.sc {
  align-self: center;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.asb {
  align-self: baseline;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .parent:before {
  width: 0;
  height: 0;
  border-top: .5rem solid transparent;
  border-bottom: .5rem solid transparent;
  border-left: 0.5rem solid #c6c6c6;
  content: '';
  display: inline-block;
  margin-right: .5rem;
  transition: all 100ms ease;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover input[type=checkbox] {
  display: none;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover input[type=checkbox]:checked ~ .parent {
  background: #0f4870;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover input[type=checkbox]:checked ~ .parent:before {
  transform: rotate(60deg);
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover input[type=checkbox]:checked ~ .kids {
  height: auto;
  opacity: 1;
  display: flex;
  flex-direction: column;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .kids {
  height: 0;
  opacity: 0;
  display: none;
  margin-left: 1rem;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .kids .kids-name {
  padding-right: .5rem;
  padding-left: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 1rem;
  cursor: pointer;
}
.vmetaeditor .veditor .vmenu .vfolder-name .vcover .kids .kids-name:hover {
  background: #2a2d2e;
}
.vmetaeditor .veditor .vmenu .vfile-search {
  padding-bottom: 1rem;
}
.vmetaeditor .veditor .vmenu .vfile-search > input {
  border: none;
  background: #3f3f46;
  color: #c6c6c6;
  width: 100%;
}
.vmetaeditor .veditor .vmenu .vfile-search > input:focus {
  outline: #1b819d solid 0.2rem;
  outline-offset: 0;
}
.vmetaeditor .veditor .vfile {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.vmetaeditor .veditor .vfile.row {
  flex-direction: row;
}
.vmetaeditor .veditor .vfile.col {
  flex-direction: column;
}
.vmetaeditor .veditor .vfile.ac {
  align-items: center;
}
.vmetaeditor .veditor .vfile.ab {
  align-items: baseline;
}
.vmetaeditor .veditor .vfile.fls {
  align-items: flex-start;
}
.vmetaeditor .veditor .vfile.fe {
  align-items: flex-end;
}
.vmetaeditor .veditor .vfile.fs {
  align-items: flex-start;
}
.vmetaeditor .veditor .vfile.jc {
  justify-content: center;
}
.vmetaeditor .veditor .vfile.sb {
  justify-content: space-between;
}
.vmetaeditor .veditor .vfile.sa {
  justify-content: space-around;
}
.vmetaeditor .veditor .vfile.je {
  justify-content: flex-end;
}
.vmetaeditor .veditor .vfile.sc {
  align-self: center;
}
.vmetaeditor .veditor .vfile.asb {
  align-self: baseline;
}
.vmetaeditor .veditor .vfile.asf {
  align-self: flex-start;
}
.vmetaeditor .veditor .vfile.rw {
  flex-flow: row wrap;
}
.vmetaeditor .veditor .vfile .fg1 {
  flex-grow: 1;
}
.vmetaeditor .veditor .vfile .ns {
  flex-shrink: 0;
}
.vmetaeditor .veditor .vfile .vtabs {
  flex: 0 0 5%;
  color: #f8f8f8;
}
.vmetaeditor .veditor .vfile .vport {
  flex: 1;
  color: #f8f8f8;
}
