// absolute css rules
@import "desktop_var";

@font-face{
    font-family:montserrat;
    src:'../fonts/montserrat/Montserrat-Hairline.otf' format('opentype');
    font-weight:400;

}
.flex {
	display: flex;
	&.row {
		flex-direction: row;
	}
	&.col {
		flex-direction: column;
	}
	&.ac {
		align-items: center;
	}
	&.ab {
		align-items: baseline;
	}
	&.fls {
		align-items: flex-start;
	}
	&.fe {
		align-items: flex-end;
	}
	&.fs {
		align-items: flex-start;
	}
	&.jc {
		justify-content: center;
	}
	&.sb {
		justify-content: space-between;
	}
	&.sa {
		justify-content: space-around;
	}
	&.je {
		justify-content: flex-end;
	}
	&.sc {
		align-self: center;
	}
	&.asb {
		align-self: baseline;
	}
	&.asf {
		align-self: flex-start;
	}
	&.rw {
		flex-flow: row wrap;
	}
	.fg1 {
		flex-grow: 1;
	}
	.ns {
		flex-shrink: 0;
	}
}

.font-big{
    font-size:@font-big;
}
.font-medium{
    font-size:@font-medium;
}
.font-regular{
    font-size:@font-regular;
}
.font-small{
    font-size:@font-small;
}

//element based css rules

*{
    font-family:montserrat;
}

html{
    width:100%;
    height:100%;
    font-size:1vw;
}

body{
    background:#f7f7f7;
}

.header{
    color:@blue;
    .flex;
    .row;
    .ac;
    .jc;
    .font-big;
}
