<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>crosswalkTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D50690841E6562B500AAE27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50690981E6562B600AAE27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D50690A31E6562B600AAE27B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
