<div class="about-port animated fadeInUp">
    <div class="port-header">
        <div class="header-content">
                                 Hi, I am a front-end developer from India. My areas of interest are web development, responsive layouts and javascript. I am also an open source contributer. I am available for freelance work.
        </div>
    </div>
    <div class="port-unit mt1">
        <div class="unit-header">
            Employment history
        </div>
        <div class="exp-content">
            <div class="exp-unit" ng-repeat="job in pastJobs">
                <div class="exp-header">
                    <div class="exp-role">
                        {{job.title}}
                    </div>
                    <div class="exp-duration">
                        <span>
                            {{job.duration}}
                        </span>
                        <i class="fa fa-bolt" ng-class="{ 'orange-text':job.past, 'blue-text':!job.past}" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="exp-company">
                    {{job.company}}
                </div>
            </div>
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Experience of technologies (In years)
        </div>
        <div class="unit-content">
            <div class="skill-unit" ng-repeat="skill in skills">
                <div class="skill-name">
                    {{skill.name}}
                </div>
                <div class="skill-meter">
                    <div class="load zw" ng-style="{ 'width':skill.exp+ '%'}"></div>
                    <div class="meter">
                        <span>1</span>
                        <span>2</span>
                        <span>3</span>
                        <span>4</span>
                        <span>5</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="port-unit mt1">
            <div class="unit-header">
                Other Technologies
            </div>
            <div class="unit-content">
                <div class="list-skills">
                    <span class="skill">NPM</span>
                    <span class="skill">Less</span>
                    <span class="skill">Grunt</span>
                    <span class="skill">Regex</span>
                    <span class="skill">Socket</span>
                    <span class="skill">Pusher</span>
                    <span class="skill">PHP</span>
                    <span class="skill">Cordova</span>
                    <span class="skill">Twitter Bootstrap</span>
                    <span class="skill">Gulp</span>
                </div>
            </div>

        </div>

    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Modules authored
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <div class="skill-link">
                    <a class="skill" target="_blank" href="https://www.npmjs.com/package/angular-httpshooter">Angular Httpshooter</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <div class="skill-link">
                    <a class="skill" target="_blank" href="https://www.npmjs.com/package/css-media-all">CSS Media All</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Education
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <div class="skill-link">
                    <a class="skill" target="_blank" href="http://mnit.ac.in">NIT Jaipur (IT,2010-14)</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Interests
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <span class="skill">Rock Music</span>
                <span class="skill">Dystopian fiction</span>
                <span class="skill">Bicycling</span>
            </div>
        </div>
    </div>


    <div class="port-unit mt1">
        <div class="unit-header">
            Profiles
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <div class="skill-link">
                    <a class="skill" target="_blank" href="http://stackoverflow.com/users/2439835/siddharth">Stackoverflow</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <div class="skill-link">
                    <a class="skill" target="_blank" href="https://github.com/siddarthvader">Github</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <div class="skill-link">
                    <a class="skill" target="_blank" href=" https://www.npmjs.com/~siddarthvader">NPM</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <div class="skill-link">
                    <a class="skill" target="_blank" href="https://www.last.fm/user/punkhaa">Last Fm</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>
                <!--<div class="skill-link">
                    <a class="skill" target="_blank" href="https://www.upwork.com/freelancers/~016fec88e43102b929">Upwork</a>
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </div>-->
            </div>
        </div>
    </div>

</div>