<div class="about-port">
    <div class="port-header">
        <div class="header-name">
            About
        </div>
        <div class="header-content">
               I am a front-end developer from Gurgaon, India. My areas of interest are web development, responsive layouts and javascript .
               I went to NIT jaipur for graduation and I loved it there.
        </div>
    </div>
    <div class="port-unit mt1">
        <div class="unit-header">
            Currently Working
        </div>
        <div class="unit-content">
             I am working as a front-end developer @Acetone Designs Gurgaon since feb 2015. Here i am working on the front-end of <a href="https://www.acadly.com" target="_blank">Acadly Website
               </a> and <a href="https://app.acadly.com" targer="_blank">Acadly</a>;
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Technologies I use
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <span class="skill">HTML</span>
                <span class="skill">CSS</span>
                <span class="skill">Javascript</span>
                <span class="skill">Angular</span>
                <span class="skill">NPM</span>
                <span class="skill">Git</span>
                <span class="skill">Less</span>
                <span class="skill">Grunt</span>
                <span class="skill">Regex</span>
                <span class="skill">Socket</span>
                <span class="skill">PHP</span>
            </div>
        </div>
    </div>

      <div class="port-unit mt1">
        <div class="unit-header">
            Modules authored
        </div>
        <div class="unit-content">
            <div class="list-skills">
                <a class="skill" target="_blank" href="https://www.npmjs.com/package/angular-httpshooter">Angular Httpshooter</a>
                <a class="skill" target="_blank" href="https://www.npmjs.com/package/css-media-all">Css Media All</a>
            </div>
        </div>
    </div>

</div>