<div class="contact-port">
    <div class="port-header">
        <div class="header-name">
            Contact
        </div>
        <div class="header-content">
            I can be reached any time at my mail id
            <bold>siddharthjn93@gmail.com</bold>
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Or Mail me rn
        </div>
        <div class="unit-content w30">
           <form method="POST" action="http://formspree.io/siddharthjn93@gmail.com">     <div class="text-unit">
                    <label for="mail-name">Name</label>
                    <input class="text-input" name="name" type="text" id="mail-name">
                </div>
                <div class="text-unit">
                    <label for="mail-name">Email</label>
                    <input class="text-input" name="email" type="email" id="mail-email">
                </div>
                <div class="text-unit">
                    <label for="mail-name">Message</label>
                    <textarea class="area-input" name="message" id="mail-message"></textarea>
                </div>
                <div class="text-unit mt1">
                    <input class="button-input" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>

</div>