<div class="contact-port animated fadeInUp">
    <div class="port-header">
        <div class="header-name">
            Contact
        </div>
        <div class="header-content">
            I can be reached any time at my mail id
            <bold>siddharthjn93@gmail.com</bold>
        </div>
    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Or Mail me rn {{name}}
        </div>
        <div class="unit-content w30">
            <form ng-submit="sendMail()">
                <div class="text-unit">
                    <label for="mail-name">Name</label>
                    <input class="text-input" ng-model="formData.name" name="name" type="text" id="mail-name">
                </div>
                <div class="text-unit">
                    <label for="mail-name">Email</label>
                    <input class="text-input" ng-model="formData.email" name="email" required type="email" id="mail-email">
                </div>
                <div class="text-unit">
                    <label for="mail-name">Message</label>
                    <textarea class="area-input" ng-model="formData.message" name="message" required id="mail-message"></textarea>
                </div>
                <div class="text-unit mt1">
                    <input class="button-input" type="submit" value="Send">
                </div>
                <div class="success-unit" ng-if="success">
                    Sent Successfully
                </div>
            </form>
        </div>
    </div>

</div>