<div class="vfile-search">
    <input type="text">
</div>
<div class="vfolder-name">
    <div class="vcover">
        <input type="checkbox" id="parent-checkbox">
        <label class="parent" for="parent-checkbox">demo</label>
        <div class="kids">
            <div class="kids-name" ui-sref="ground.httpshooter">angular-httpshooter</div>
            <div class="kids-name" ui-sref="ground.cssmedia">css-media-all</div>
        </div>
    </div>
</div>
<div class="vfile-name" ui-sref="ground.work">work</div>
<div class="vfile-name" ui-sref="ground.about">about</div>
<div class="vfile-name" ui-sref="ground.contact">contact</div>
<div class="vfile-name" ui-sref="ground.blog">blog</div>
<div class="vfile-name" ui-sref="ground.readme">README</div>