<div class="tabs " ng-class={'active':$state.current.name=='ground.about'} ui-sref="ground.about">about</div>
<div class="tabs" ng-class={'active':$state.current.name=='ground.work'} ui-sref="ground.work">work</div>
<div class="tabs" ng-class={'active':$state.current.name=='ground.blog'} ui-sref="ground.blog">blog</div>
<div class="tabs" ng-class={'active':$state.current.name=='ground.contact'} ui-sref="ground.contact">contact</div>
<div class="tabs" ng-class={'active':$state.current.name=='ground.readme'} ui-sref="ground.readme">README</div>


<!--abandoned code but working fine-->
<!--<div class="vfile-search">
    <input type="text">
</div>
<div class="vfolder-name">
    <div class="vcover">
        <input type="checkbox" id="parent-checkbox">
        <label class="parent" formnt-checkbox">demo</label>
        <div class="kids">
            <div class="kids-name" ui-sref="ground.h2ttpshooter">angular-httpshooter</div>
            <div class="kids-name" ui-sref="ground.cssmedia">css-media-all</div>
        </div>
    </div>
</div>

<div class="vfile-name" ui-sref="ground.about">about</div>
<div class="vfile-name" ui-sref="ground.work">work</div>
<div class="vfile-name" ui-sref="ground.blog">blog</div>
<div class="vfile-name" ui-sref="ground.contact">contact</div>