<div class="animated fadeInUp readme-port">
    <div class="port-header">
        <div class="header-content">
            This portfolio is developed in Angular 1.0+ and is hosted on Github, if you want to look at the code or reuse it, you are
            free to do so.
            <a href="https://github.com/siddarthvader/siddarthvader.github.io">
                <i class="fa fa-external-link" aria-hidden="true"></i>
            </a>
        </div>

    </div>

    <div class="port-unit mt1">
        <div class="unit-header">
            Technologies Used
        </div>
        <div class="readme-content">
            <div class="">
                Angular 1.0+
            </div>
            <div class="div">
                HTML
            </div>
            <div class="div">
                CSS
            </div>
            <div class="div">
                Javascript
            </div>
            <div class="div">
                Git
            </div>
            <div class="div">
                Grunt
            </div>
            <div class="div">
                NPM
            </div>
            <div class="div">
                Bower
            </div>

        </div>
    </div>
</div>