<div class="vfile-search">
    <input type="text">
</div>
<div class="vfolder-name">
    <div class="vcover">
        <input type="checkbox" id="parent-checkbox">
        <label class="parent" for="parent-checkbox">demo</label>
        <div class="kids">
            <div class="kids-name">angular-httpshooter</div>
            <div class="kids-name">css-media-all</div>
        </div>
    </div>
</div>
<div class="vfile-name">work</div>
<div class="vfile-name">about</div>
<div class="vfile-name">contact</div>
<div class="vfile-name">blog</div>