@import url('scripts/css-media-all/css-media-all.min.css');
@font-face {
    font-family: monaco;
    src: url('../app/static/fonts/montserrat/Montserrat-Hairline.otf') format('opentype');
}

body {
    text-align: center;
    font-family: monaco;
}

canvas{
    // width:90vw;
    height:90vh;
}
